body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: Arial;
  color: white;
  background-image: url(discordbg.jpg);
  background-size: cover;
  background-position: center;
}

.box {
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 12px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background: #5865F2;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #4752c4;
  transform: scale(1.05);
}
